.rolePermissionAnime-enter-active {
  animation: fadeIn .3s;
}

.rolePermissionAnime-leave-active {
  animation: fadeOut .3s;
}

.menuRoleAnime-enter-active{
  animation: zoomIn .3s;
}
.menuRoleAnime-leave-active{
  animation: zoomOut .3s;
}